@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  font-size: 20px;
  font-family: "Roboto";
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

.header_section {
  padding: 0px 10%;
  background: linear-gradient(58deg, rgb(190, 190, 190) 0%, rgb(245, 245, 245) 100%);
}
.header_section .navigation_section {
  padding: 10px 0px;
}
.header_section .navigation_section .navbar .sub_container .logo {
  width: 100px;
  height: 100px;
}
.header_section .navigation_section .navbar .sub_container .logo img {
  width: 100px;
  height: 100px;
}
.header_section .navigation_section .navbar .primary_container ul li {
  padding: 0px 12px;
}
.header_section .navigation_section .navbar .primary_container ul li a {
  transition: all 0.5s ease-in-out;
  border-bottom: 3px solid transparent;
  padding-bottom: 2px;
  font-weight: 400;
}
.header_section .navigation_section .navbar .primary_container ul li a:hover {
  border-bottom-color: white;
  color: #000000;
}
.header_section .navigation_section .navbar .primary_container ul li button {
  border: none;
  transition: all 0.4s ease-in-out;
}
.header_section .navigation_section .navbar .primary_container ul li button a {
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  border-bottom: none;
}
.header_section .navigation_section .navbar .primary_container ul li button:hover {
  background-color: #a1a1a1;
}
.header_section .navigation_section .navbar .primary_container ul li button:hover a {
  color: #000000;
}

.hero_section {
  padding: 10% 0px;
}
.hero_section .container .row .social_icon nav ul {
  height: 200px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero_section .container .row .social_icon nav ul li {
  list-style: none;
  font-size: 30px;
}
.hero_section .container .row .social_icon nav ul li a {
  text-decoration: none;
  color: black;
}
.hero_section .container .row .social_icon nav ul li a i {
  font-size: 30px;
}
.hero_section .container .row .intro_part h1 {
  font-size: 60px;
  font-weight: 600;
}
.hero_section .container .row .intro_part .my_job {
  display: flex;
  gap: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.hero_section .container .row .intro_part .my_job hr {
  width: 15%;
}
.hero_section .container .row .intro_part .my_job h3 strong {
  font-size: 30px;
}
.hero_section .container .row .intro_part p {
  margin-bottom: 30px;
  font-weight: 400;
}
.hero_section .container .row .intro_part button {
  border: none;
  transition: all 0.4s ease-in-out;
}
.hero_section .container .row .intro_part button a {
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  border-bottom: none;
  transition: all 0.4s ease-in-out;
}
.hero_section .container .row .intro_part button:hover {
  background-color: #a1a1a1;
  color: #000000;
}
.hero_section .container .row .intro_part button:hover a {
  color: #000000;
}
.hero_section .container .row .intro_pic {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  border-radius: 51% 49% 16% 84%/68% 27% 73% 32%;
  box-shadow: 4px 5px 20px 20px rgba(0, 0, 0, 0.06);
  background-image: url("../image/b and w pic.jpg");
  background-size: cover;
}

.about_section {
  padding: 5% 0px;
  border-radius: 0px 0px 15% 0px;
  background-color: #f7f7f7;
}
.about_section .container .heading {
  text-align: center;
  margin-bottom: 80px;
}
.about_section .container .row .my_image {
  height: 480px;
  margin-bottom: 20px;
}
.about_section .container .row .my_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 5px 10px 6px rgba(0, 0, 0, 0.05);
  border-radius: 25px 0px 25px 0px;
}
.about_section .container .row .details .works {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.about_section .container .row .details .works .items {
  border-radius: 10px;
  width: 30%;
  height: 100%;
  padding: 5px 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.04);
  transition: all 0.5s ease-in-out;
}
.about_section .container .row .details .works .items i {
  margin-bottom: 10px;
  font-size: 25px;
  transition: all 0.5s ease-in-out;
}
.about_section .container .row .details .works .items h5 {
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}
.about_section .container .row .details .works .items p {
  transition: all 0.5s ease-in-out;
}
.about_section .container .row .details .works .items:hover {
  background-color: black;
  transform: translateY(-25px);
  cursor: default;
}
.about_section .container .row .details .works .items:hover i,
.about_section .container .row .details .works .items:hover h5,
.about_section .container .row .details .works .items:hover p {
  color: white;
}
.about_section .container .row .details .personal_info {
  margin-bottom: 30px;
}
.about_section .container .row .details .personal_info p {
  text-align: justify;
}
.about_section .container .row .details button {
  border: none;
  transition: all 0.4s ease-in-out;
}
.about_section .container .row .details button a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.about_section .container .row .details button:hover {
  background-color: #a1a1a1;
  color: #000000;
}
.about_section .container .row .details button:hover a {
  color: #000000;
}

.skills_section {
  padding: 5% 0px;
}
.skills_section .container .heading {
  text-align: center;
  margin-bottom: 80px;
}
.skills_section .container .row .hard_skills {
  width: 49%;
  border-radius: 15px;
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.5s ease-in-out;
}
.skills_section .container .row .hard_skills:hover {
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.2);
}
.skills_section .container .row .hard_skills h5 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
}
.skills_section .container .row .hard_skills ul {
  display: flex;
  flex-wrap: wrap;
}
.skills_section .container .row .hard_skills ul li {
  width: 50%;
  list-style: none;
  margin-bottom: 30px;
  font-size: 20px;
}
.skills_section .container .row .hard_skills ul li i {
  font-size: 25px;
}
.skills_section .container .row .soft_skills {
  width: 49%;
  border-radius: 15px;
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.5s ease-in-out;
}
.skills_section .container .row .soft_skills:hover {
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.2);
}
.skills_section .container .row .soft_skills h5 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
}
.skills_section .container .row .soft_skills ul {
  display: flex;
  flex-wrap: wrap;
}
.skills_section .container .row .soft_skills ul li {
  width: 50%;
  list-style: none;
  margin-bottom: 30px;
  font-size: 20px;
}
.skills_section .container .row .soft_skills ul li i {
  font-size: 20px;
}

.project_section {
  padding: 5% 0px;
  background-color: #f7f7f7;
}
.project_section .container .heading {
  text-align: center;
  margin-bottom: 80px;
}
.project_section .container .all_cards .card {
  padding: 30px 10px;
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.project_section .container .all_cards .card img {
  transition: all 0.5s ease-in-out;
}
.project_section .container .all_cards .card:hover img {
  transform: scale(1.1);
}
.project_section .container .all_cards .card .card_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_section .container .all_cards .card .card_items p {
  text-align: center;
}
.project_section .container .all_cards .card .card_items a {
  text-decoration: none;
}

.testimonial_section {
  padding: 5% 0px;
}
.testimonial_section .container .heading {
  text-align: center;
  margin-bottom: 80px;
}
.testimonial_section .container .first_box .main_box {
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.testimonial_section .container .first_box .main_box .sub_box {
  padding: 5% 10%;
}
.testimonial_section .container .first_box .main_box .sub_box .customer {
  width: 140px;
  height: 140px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 100%;
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.09);
}
.testimonial_section .container .first_box .main_box .sub_box .customer img {
  width: 100%;
  height: 90%;
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial_section .container .first_box .main_box .sub_box .description p {
  margin-bottom: 40px;
  border-left: 3px solid #212529;
  padding-left: 15px;
}
.testimonial_section .container .first_box .main_box .sub_box .description h6 {
  margin-bottom: 20px;
}

.contact_section {
  padding: 5% 0px;
  background-color: #f7f7f7;
}
.contact_section .container .heading {
  text-align: center;
  margin-bottom: 80px;
}
.contact_section .container .sub_container .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.contact_section .container .sub_container .socials .sub_socials {
  border-radius: 25px;
  box-shadow: 4px 5px 20px 6px rgba(0, 0, 0, 0.04);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.contact_section .container .sub_container .socials .sub_socials .icons {
  font-size: 30px;
  margin-bottom: 5px;
}
.contact_section .container .sub_container .socials .sub_socials a {
  text-decoration: none;
}
.contact_section .container .sub_container .forms {
  border-radius: 20px;
}
.contact_section .container .sub_container .forms form .input_div button {
  border: none;
  transition: all 0.4s ease-in-out;
  background-color: #212529;
}
.contact_section .container .sub_container .forms form .input_div button:hover {
  background-color: #a1a1a1;
  color: #000000;
}

footer {
  background: linear-gradient(58deg, rgb(190, 190, 190) 0%, rgb(245, 245, 245) 100%);
  padding: 30px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .sub_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .sub_container p {
  margin-bottom: 0px;
}
footer .container .sub_container p a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
}
footer .container .top {
  display: flex;
  justify-content: end;
  align-items: center;
}
footer .container .top a {
  text-decoration: none;
  color: black;
}
footer .container .top a i {
  font-size: 30px;
}

@media (max-width: 768px) {
  .hero_section .container .row .intro_part h1 {
    font-size: 40px;
  }
  .skills_section .container .row {
    flex-direction: column;
  }
  .skills_section .container .row .hard_skills,
  .skills_section .container .row .soft_skills {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 1028px) {
  .contact_section .row {
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */